<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         id="WebApp_ID" version="3.1">

    <display-name>shopping-cart</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- boardWriteProcess.jsp를 위한 Multipart 설정 -->
    <servlet>
        <servlet-name>boardWriteProcess</servlet-name>
        <jsp-file>/boardWriteProcess.jsp</jsp-file>
        <multipart-config>
            <max-file-size>10485760</max-file-size> <!-- 최대 파일 크기 10MB -->
            <max-request-size>20971520</max-request-size> <!-- 최대 요청 크기 20MB -->
            <file-size-threshold>1024</file-size-threshold> <!-- 메모리 임계값 -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>boardWriteProcess</servlet-name>
        <url-pattern>/boardWriteProcess.jsp</url-pattern>
    </servlet-mapping>

</web-app>
